.App {
  text-align: center;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: #282c34;
}
p{
  margin: 0;
}

/*******************************************************************/
.bm-menu{
  background-color: #383d41;
  color: #fff;
}

.bm-burger-button{
  position: fixed;
  top: 25px;
  left: 25px;
  color: #fff;
}
.bm-icon{
  font-size: 50px;
}
.bm-morph-shape{
  fill: #383d41;
}
.open-menu{

}
.close-menu{
  font-size: 30px;
  color: #fff;
}
.menu-list{
  list-style: none;
  outline: none;
  padding-top: 50px;
}
.menu-item{
  padding: 10px 0;
  font-size: 30px;
}
.menu-item:hover{
  cursor: pointer;
  color: #49b995;
}
/**********************************************************************/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.portfolio-title{
  font-size: 50px;
}
.fa-chevron-circle-down{
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 40px;
  color: #49b995;
  animation: arrow-pointing infinite 1.5s ease-in;
}
.fa-chevron-circle-down:hover{
  cursor: pointer;
}

@keyframes arrow-pointing{
  0% {
    transform: translate(-50%,-70%);
  }
  50% {
    transform: translate(-50%,-50%);
  }
  100% {
    transform: translate(-50%,-70%);
  }
}

/*.project-section{*/
  /*background-color: #49b995;*/
/*}*/
